# Postgres
DATABASE_URL=postgresql://..

# Auth0
NEXT_PUBLIC_BASE_URL=http://localhost:3000
AUTH0_DOMAIN=dev..
AUTH0_CLIENT_ID=RXW..
AUTH0_CLIENT_SECRET=Dwo..
# generated own secret using `openssl rand -hex 32`
AUTH0_SECRET=aa3..

CLOUDINARY_CLOUD_NAME=name..
CLOUDINARY_API_KEY=1234..
CLOUDINARY_API_SECRET=cV..

# OPENAI
GPT_KEY=sk-proj..